<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard | Node Auth</title>
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css" >
  </head>
  <body  class="form">
    <h3>Welcome You Are Authenticated</h3>
    <img
      style="width: 200px;"
      src="https://image.shutterstock.com/image-vector/top-secret-stamp-grunge-texture-260nw-1388840021.jpg"
      alt="secret image"
    />

    <form action="/logout" method="POST"  class="form">
      <button>Logout</button>
    </form>
  </body>
</html>