<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing | Node Auth</title>
    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css" >
  </head>
  <body>
    <div class="form">
      <ul class="nav">
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
      </ul>
      <h3>This is the Landing Page of The Website</h3>
    </div>
    
  </body>
</html>